[Unit]
Description=mysql service
After=mysql.service

[Service]
Type=forking
ExecStart=/usr/local/mysql/support-files/mysql.server start 
ExecStop=/usr/local/mysql/support-files/mysql.server stop
ExecReload=/usr/local/mysql/support-files/mysql.server reload 
PrivateTmp=true
  
[Install]
WantedBy=multi-user.target
